*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
}

.container{
    width: 90%;
    margin: auto;
}
.nav-container{
    display: flex;
    flex-wrap: wrap;
}
nav{
    background-color: rgb(255, 254, 254);
    height: 80px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
 .logo{
    color: rgb(71, 71, 71);
    font-size: 20px;
    font-family: sans-serif;
    font-style: italic;
    line-height: 80px;
  
    font-weight: bolder;

}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin:0 10px;
}
nav ul li a{
    color: rgb(85, 85, 85);
    size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    font-family: 'Times New Roman', Times, serif;

}
section{
    background:  no-repeat;
    background-size: cover;
    height: calc(100vh 80px);

}
.box{
    width: 100%;
    height: 646px;
    background-image: url(../images/image.png);
    background-size: 100%;
    display: flex;
    align-items: center;
}
.box h1 {
    width: 535px;
    font-size: 72px;
}
.h1{
    font-size: 100px;
}
.reputation{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;

}
.title{
    text-align: center;
    
}
.cards ul{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 900px;
    margin: auto;
}
.cards li{
    max-width: 213px;
    width: 100%;
    padding: 15px;
}
.title{
    font-weight: 700;
    size: 20px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15;
}
.description{
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    padding-top: 20;
    
}
.reputation-section{
    padding: 60 80;
}

.cards li{
    border: 1px solid rgba(146, 145, 145, 0.555);
    border-radius: 4px;
    margin: 40px;
}
.services{
    display: flex;
    justify-content: space-evenly;
    background-color: #F6F8F7;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}
.cards1{
   padding: 30px 0px;
}
.cards1 ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.cards2 ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.description1{
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    text-align: center;
}
.services-section{
    padding: 45 60;
}
.cards1 ul li{
    width: 270px;
    padding: 30px 10px;
    border-radius: 4px;
}    
.cards2 ul li{
    width: 270px;
    padding: 30px 10px;
    border-radius: 4px;
} 
.cards1 ul li:nth-child(even){
    background-color:#4B6379;
    color: #fff;
}
.cards1 ul li:nth-child(odd){
    background-color:#fff ;
    color: #4B6379;
}
.cards2 ul li:nth-child(odd){
    background-color:#4B6379;
    color: #fff;
}
.cards2 ul li:nth-child(even){
    background-color:#fff ;
    color: #4B6379;
}
.rectangle{
    width: 60px;
    height: 2px;
    margin: 20px auto;
    background: #E0E3EB;
}
.icon1{
    display: flex;
    justify-content: center;
}
.consulation-section{
    background-image: url(../images/consulation.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
.consulation-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0px;
}
.left-block{
    color: #FFFFFF
}
.left-block h1{
    font-weight: 700;
    size: 36px;
    font-family: Arial, Helvetica, sans-serif;
}
.left-block p{
    display: flex;
    font-weight: 400;
    size: 26px;
    font-family: Arial, Helvetica, sans-serif;
}
.right-block a{
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background-color: transparent;
    padding: 16px 20px;
    color: #FFFFFF;
    font-weight: 600;
    size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.number{
    color: #FFFFFF;
    text-decoration: underline;
    padding-left: 5px;
}
.project-title{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 36px;
    padding: 88px 70px;
    padding-bottom: 40px;
}
.list-items{
    padding-left: 132px;   
}
.navbar li{
    font-style: normal;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 24px;
    padding: 10px 0px;
}
.navbar li a{
    color:  #C2C7D6;
}
.card-details{
    color: #FFFFFF;
    background-color: #4B6379;
    font-family: sans-serif;
    padding: 12px 12px;
}
.card-details .Heading{
    font-weight: 700;
    font-size: 20px;
}
.card-details .sub-heading{
    font-weight: 400;
    font-size: 18px;
    padding: 12px 0px 0px;
}
.project-block{
    display: flex;
    width: 100%;
}
.project-block .right-block ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.project-block .right-block{
    width: 75%;
}
.project-block .left-block{
    width: 25%;
}

.tab-content{
    padding-bottom: 32px;
    padding-right: 32px;
}
/* contact us section */
.contact-info{
    text-align: center;
    padding-top: 60px;
    font-family: sans-serif;
}
.contact-info .contact-title{
    font-weight: 700;
    font-size: 36px;
}
.contact-info .contact-description{
    font-weight: 500;
    font-size: 20px;
    padding: 20px 400px;
}
.contact-form{
    width: 600px;
    margin: auto;
}
.contact-form .row{
    display: flex;
    justify-content: center;
    width: 100%;
}
.contact-form .field{
    display: flex;
    padding: 10px 20px;
    width: 100%;
    justify-content: center;
}
.contact-form .row .field{
    padding: 10px 20px;
    text-align: left;
    width: 100%; 
}
.contact-form .row .field .input-field{
    padding: 10px 20px;
    text-align: left;
    width: 100%;
}
.contact-form .field textarea{
    width: 100%;
    padding: 10px 20px;
}
.contact-details .action-toolbar{
    padding: 16px 50px;
    margin: 0px 20px;
}
.contact-form .action-toolbar{
    padding: 10px 20px;
}
.contact-form .action-toolbar button{
    padding: 16px 50px;
}
